@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;



}

body {
    background-image: url(./ev-zQtmZjMdejU-unsplash.jpg);


}

li,
a,
button {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    color: #edfef1
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(to right, #00093c, #2d0b00);


}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 120vh;
}

.img-home {
    width: 313px;
    height: 371px;
    border-radius: 100%;
    margin-top: 10px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title-home {
    font-size: 34px;
    margin-top: 20px;
}

.title-home span {
    color: tomato;
}

.define {
    width: 400px;
}

#about-us {
    margin: 10%;
    font-family: "Open Sans", sans-serif;
}

.type-about {
    margin-top: 30px;
}


.btn {
    color: rgb(126, 59, 59);
    border: 1px solid goldenrod;
    padding: 20px 80px;
    font-size: 22px;

}

.btn:hover {
    background: rgb(184, 147, 55);
    color: #fff;

}

.active {
    color: goldenrod;
}

.about-nav {
    width: 150px;
    display: flex;
    flex-direction: column;
    background: rgb(165, 4, 4);
    border-radius: 5px;
    position: absolute;
    left: 45%;
    opacity: 0;


}

.about-list {
    color: #ffffff;
}

.about-list:hover {
    text-decoration: underline;
}

.about-link {
    position: relative;
}

.about-link:hover .about-nav {
    color: goldenrod;
    opacity: 1;

}

#the_logo {
    width: 200px;
    height: 70px;
}

#footer_logo {
    width: 250px;
    height: 80px;
}

.nav_links li {
    display: inline-block;

}

.nav_links li a button {
    transition: all 0.3s ease 0s;
    cursor: pointer;


}

a:hover {
    color: goldenrod;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

footer {
    width: 100%;

    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    border-top-left-radius: 95px;
    display: flex;
    justify-content: space-between;
}

.footerIcons a {

    background-color: rgb(141, 52, 52);
    border-radius: 80%;
    margin: 10px;
    padding: 10px;


}

.footerIcons {
    height: 200px;
    margin-top: 10%;
}

.links {
    margin-top: 25px;
}


.add {

    font-size: 15px;

}

p {
    width: 75%;
}



.the_image .pic {
    white-space: nowrap;
    overflow: hidden;
    margin: 5%;
    border-radius: 15px;
    cursor: pointer;
}

.pic:hover {
    overflow: scroll;
}

.pic img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

img:hover {
    transform: scale(1.3);

}

.footer {
    width: 680px;
    font-family: "Open Sans", sans-serif;
    margin-left: 25px;
}




iframe {
    position: relative;
    left: 26%;
    border-radius: 15px;
}

#h5 {
    width: 700px;
    font-size: 20px;

}

.qoute {
    margin-left: 15px;
    font-size: 10px;

}

@media screen and (max-width: 900px) {
    .pic img {
        width: calc(100%/2);

    }

}

@media screen and (max-width: 550px) {
    .pic img {
        width: 100%;

    }

}